body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}
/* BAR DE NAVIGATION */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: white;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: white;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #e2cfea;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #102b3f;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

/* ------------------------------------------ */
#ici {
  /*  Message indication dans quel page on se trouve*/
  color: #a06cd5;
  font-weight: bold;
}
#footer {
  /*  PIED DE PAGE SANS COPYRIGHT */
  background-color: #102b3f;
  position: relative;
  color: white;
}
#foot {
  /*  PIED DE PAGE COMPLET */
  background-color: #102b3f;
  position: relative;
}
#footnav {
  /* balise <ul> du menu de navigation  dans le footer */
  margin-top: 5px;
  position: relative;
  left: 7%;
}
#search {
  /* div de l'element de recherche dans le footer */
  position: relative;
  right: 5%;
}
#btnrechercher {
  /*  Bouton rechercher de l'element search dans le footer */
  width: 112px;
  height: 57px;
  background-color: #a06cd5;
  color: white;
  position: relative;
  top: 7px;
}
#btnrechercher:hover {
  /*  Bouton rechercher de l'element search dans le footer quand on passe dessus*/
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 500ms;
  background-color: #e2cfea;
  cursor: pointer;
}
#inlineblock {
  /* permet de mettre le menunav,les options et les reseaux sur la meme ligne dans le footer  */
  display: flex;
  justify-content: space-between;
}
#iconfootlkdn {
  /* ICON linkedin dans le footer */
  font-size: 25px;
  color: #0e76a8;
}
#iconfootlkdn:hover {
  /* ICON github dans le footer quand le curseur passe dessus */
  transform: scale(1.3);
  transition-property: transform;
  transition-duration: 500ms;
  color: white;
}
#iconfootgithub {
  /* ICON github dans le footer */
  font-size: 25px;
}
#iconfootgithub:hover {
  /* ICON github dans le footer quand le curseur passe dessus */
  transform: scale(1.3);
  transition-property: transform;
  transition-duration: 500ms;
  color: black;
}
#iconfootweb {
  /* ICON github dans le footer */
  font-size: 25px;
  color: black;
}
#iconfootweb:hover {
  /* ICON github dans le footer quand le curseur passe dessus */
  transform: scale(1.3);
  transition-property: transform;
  transition-duration: 500ms;
  color: white;
}
#iconfootsearch {
  /* ICON github dans le footer */
  font-size: 58px;
  color: #a06cd5;
  position: relative;
  right: 6%;
  top: 11%;
}
#iconfootclick {
  /* ICON click dans le footer */
  font-size: 28px;
  color: white;
  position: relative;
}
#iconfootclick:hover {
  /* ICON click dans le footer  quand on passe dessus*/

  color: #a06cd5;
}
#iconmail {
  /* ICON github dans le footer */
  font-size: 28px;
  color: #a06cd5;
  position: relative;
  right: 0%;
}
#iconarrow {
  /* ICON github dans le footer */
  font-size: 28px;
  color: #a06cd5;
  position: relative;
  right: 0%;
}
#iconmessage {
  /* ICON github dans le footer */
  font-size: 28px;
  color: #a06cd5;
  position: relative;
  bottom: 164px;
}
#prenomfoot {
  /*  PRENOM dans le footer */
  font-size: 18px;
  text-decoration: underline;
}
#copyright {
  /*  COPYRIGHT PIED DE PAGE */
  text-align: center;
  background-color: #102b3f;
  color: white;
}
#labelmenufoot {
  /* LABEL dans le FOOTER */
  letter-spacing: 1px;
  color: #a06cd5;
  font-size: 29px;
  font-weight: bold;
}
#lifoot {
  /*  balise <li> dans le footer */
  font-size: 22px;
}
a:hover {
  border: none;
  overflow: visible;
  color: #e2cfea;
}
hr {
  color: #a06cd5;
}
/*  PAGE INDEX !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#titreform {
  color: #102b3f;
  font-weight: bold;
  font-size: 21px;
  text-decoration: underline;
}
#formdiv {
  color: #102b3f;
  font-weight: bold;
  background-color: #e2cfea;
  width: 38%;
}
#inputco {
  /* INPUT du formulaire de connexion à l'espace membre  */
  width: 180px;
  height: 40px;
}

#btnconnexion {
  /* Bouton de connexion du formulaire de connexion à l'espace membre  */
  color: white;
  background-color: #a06cd5;
  height: 40px;
}
#btnconnexion:hover {
  /* Bouton de connexion du formulaire de connexion à l'espace membre quand on passe dessus  */
  background-color: #e2cfea;
  transform: scale(0.9);
  cursor: pointer;
}
#forminscrire {
  /* Bouton d'inscription sous le formulaire de connexion à l'espace membre */
  color: white;
  font-weight: bold;
  background-color: #a06cd5;
  border-color: black;
  border-width: 2px;
}
#forminscrire:hover {
  /* Bouton d'inscription sous le formulaire de connexion à l'espace membre */
  background-color: #102b3f;
  border-color: white;
  border-width: 2px;
  transform: scale(0.9);
  cursor: pointer;
}

#h1blog {
  /* titre blog dans la page index */
  font-weight: bold;
  color: white;
  background-color: #102b3f;
}
#h2options {
  font-weight: bold;
  color: #102b3f;
  text-decoration: underline;
}

#containerindex {
  /*  div qui contient les divs des boutons */
  display: block;
  justify-content: space-evenly;
}
.card-container {
  /*  Div qui contient les cartes */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.card {
  /* Carte */
  height: 30rem;
  width: 21rem;
  background-color: #a06cd5;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative;

  box-shadow: 5px 5px 0.6em gray, -5px -5px 0.6em gray;
}

.card:hover {
  /* Carte quand on passe le curseur dessus*/
  transform: scale(1.1);
}

.card .img-card {
  /* Image de la carte */
  height: 80%;
  width: 100%;
  border-radius: 5px;
}

.text-card-container {
  /* Text dans la Carte */
  display: flex;
  column-gap: 4rem;
  /* justify-content: space-around; */
  margin-bottom: 2rem;
  font-size: large;
  padding: 0 0.5rem;
}
#acardtitre > a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
/*  PAGE RESSOURCES **************************************************************** */
#divbienvenue {
  background-color: #e2cfea;
}
#h1bienvenue {
  /* message de bienvenue */
  color: #a06cd5;
}
#pbienvenue {
  /* message sous le h1 bienvenue */
  font-size: 20px;
}
#h2ressources {
  /* h2 ex: "vous souhaitez contribuer à cet page" */
  font-size: 28px;
  font-weight: bold;
  color: white;
  background-color: #102b3f;
}

#container {
  /*  div qui contient les divs des boutons */
  display: flex;
  justify-content: space-evenly;
}
#a_masquer {
  /* première div */
  background-color: #e2cfea;
}
#a_masquer2 {
  /* deuxième div */
  background-color: #e2cfea;
}
#a_masquer3 {
  /* troisième div */
  background-color: #e2cfea;
}
#a_masquer4 {
  /* quatrième div */
  background-color: #e2cfea;
}
#a_masquer5 {
  /* cinquième div */
  background-color: #e2cfea;
}
#btnmasquer {
  /* Bouton qui montre les divs masqués */
  border-radius: 10%;
  background-color: #a06cd5;
  color: white;
  width: 187px;
  height: 68px;
  font-size: 20px;
  box-shadow: 0 0 1em #a06cd5;
}
#btnmasquer:hover {
  /* quand le curseur passe sur les boutons */
  background-color: #e2cfea;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 500ms;
  box-shadow: 0 0 1em #e2cfea;
  cursor: pointer;
}
#pdiv {
  /*  titre dans les divs cachés */
  color: #102b3f;
  font-size: 19px;
  font-weight: bold;
  text-decoration: underline;
}
#psites {
  /* <p> dans les divs cachés  */
  color: #a06cd5;
}
#fram {
  /* <b> dans les divs cachés  */
  color: black;
}
#pcontribu {
  /* <p> au dessus du titre "contribution"  */
  font-size: 20px;
}
#pcontribution {
  /*  titre du formulaire "contribution"*/
  color: #102b3f;
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
}

#form {
  /* div du formulaire de contact */
  position: relative;
  margin: 35px auto 0;
  left: 50px;
}
#containerform {
  /*  div qui contient la div du formulaire de contact */
  background-color: #e2cfea;
}
input {
  /* Input du formulaire */
  height: 60px;
  font-size: 22px;
  border-width: 2px;
  border-color: #102b3f;
}
textarea {
  /*  "Message" dans le formulaire */
  height: 190px;
  font-size: 22px;
  border-width: 2px;
  border-color: #102b3f;
}
#envoyer {
  /*  bouton du formulaire de contact */
  border-color: #102b3f;
  border-width: 2px;
  color: white;
  background-color: #a06cd5;
  width: 510px;
  height: 40px;
  position: relative;
  left: 28px;
}
#envoyer:hover {
  /*  bouton du formulaire de contact quand on passe le curseur dessus*/
  background-color: #e2cfea;
  color: black;
  transform: scale(0.9);
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
}
.required {
  /*  Label du formulaire */
  font-size: 27px;
  color: #102b3f;
  position: relative;
  left: 28px;
}

.form{
  display: flex;
  justify-content: center;
}
/*  PAGE DES BLOGS */

/* ================================= 
  RESPONSIVE
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
